body {
    background-color: #111;
}

button {
    padding: 20px;
    width: 95%;
    outline: none;
    border: none;
    background: #fd5158 none;
    color: #b9b9b9;
    margin: 20px auto;
    display: block;
}

button .smiley {
    display: block;
    font-weight: bold;
    font-size: 75px;
    pointer-events: none;

    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);

}

.black {
    color: #111;
}

.light-grey {
    color: #b9b9b9;
}

.red {
    color: #fd5158;
}